<li>
  <h4>{{announcement.title}}</h4>
  <p>By {{announcement.writter}} on {{announcement.date}}</p>
  <br/>
  <p>{{announcement.details}}</p>
</li>

<button {{action 'delete' announcement}}>Delete</button>
